#logo {
	font-size: 40px;
	margin: 0;
	color: #6bb32d;
}

.button2 {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #090909;
	padding: 0.7em 1.7em;
	height: 50px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 0.5em;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.button2:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.button2:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}
.button2:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #009087;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}
.button2:hover {
	color: #ffffff;
	border: 1px solid #009087;
}
.button2:hover:before {
	top: -35%;
	background-color: #009087;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button2:hover:after {
	top: -45%;
	background-color: #009087;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

nav {
	position: sticky;
	top: 0;
	z-index: 15;
	padding: 5px 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	box-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1);
}

main {
	padding: 0px 20px;
	margin: 100px 0px 0px 10px;
}
main > section:nth-child(1) {
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
}
#header-content > h1 {
	margin: 0;
	font-size: 84px;
}
#header-content > h3 {
	margin: 0;
	font-size: 30px;
	opacity: 0.7;
	font-weight: 600;
}
#header-content > p {
	max-width: 900px;
	font-size: 20px;
	opacity: 0.5;
}
.learn-more {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}

button.learn-more {
	width: 12rem;
	height: auto;
}

button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
}

button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

button:hover .circle {
	width: 100%;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button:hover .button-text {
	color: #fff;
}

#recording-section {
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#start-recording {
	background-color: rgb(253, 211, 134);
	/* border: 1px solid rgba(255, 0, 0, 0.425); */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.1); */

	display: flex;
	justify-content: center;
	align-items: center;
}
#start-recording > div {
	background-color: rgb(252, 187, 65);
	/* border: 1px solid rgba(255, 0, 0, 0.692); */
	width: 150px;
	height: 150px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: zoom-in-zoom-out 3s ease infinite;
}
#start-recording > div > div {
	background-color: rgb(248, 173, 34);
	/* border: 1px solid red; */
	width: 100px;
	height: 100px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: zoom-in-zoom-out 3s ease infinite;
}
@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

.loader {
	display: flex;
}

.l,
.l:nth-child(9) {
	margin: 0.15em;
	border-radius: 5em;
	width: 0.2em;
	background-color: #f12711;
	height: 1.5em;
	box-shadow: 1px 1px 4px black;
	animation: load_5186 cubic-bezier(0.41, 0.44, 0.72, 0.69) 2s infinite;
}

.l:nth-child(2),
.l:nth-child(8) {
	background-color: #f24e13;
	animation-delay: 0.25s;
}

.l:nth-child(3),
.l:nth-child(7) {
	background-color: #f36915;
	animation-delay: 0.5s;
}

.l:nth-child(4),
.l:nth-child(6) {
	background-color: #f48c17;
	animation-delay: 0.75s;
}

.l:nth-child(5) {
	background-color: #f5af19;
	animation-delay: 1s;
}

@keyframes load_5186 {
	0% {
		transform: scaleY(1);
	}

	100% {
		transform: scaleY(-1);
	}
}

#playing-container svg {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #ffffff;
	padding: 30px;
	width: 450px;
	border-radius: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
	align-self: flex-end;
}

.flex-column > label {
	color: #151717;
	font-weight: 600;
}

.inputForm {
	border: 1.5px solid #ecedec;
	border-radius: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	transition: 0.2s ease-in-out;
}

.input {
	margin-left: 10px;
	border-radius: 10px;
	border: none;
	width: 85%;
	height: 95%;
}

.input:focus {
	outline: none;
}

.inputForm:focus-within {
	border: 1.5px solid #2d79f3;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.flex-row > div > label {
	font-size: 14px;
	color: black;
	font-weight: 400;
}

.span {
	font-size: 14px;
	margin-left: 5px;
	color: #2d79f3;
	font-weight: 500;
	cursor: pointer;
}

.button-submit {
	margin: 20px 0 10px 0;
	background-color: #151717;
	border: none;
	color: white;
	font-size: 15px;
	font-weight: 500;
	border-radius: 10px;
	height: 50px;
	width: 100%;
	cursor: pointer;
}

.button-submit:hover {
	background-color: #252727;
}

.p {
	text-align: center;
	color: black;
	font-size: 14px;
	margin: 5px 0;
}

.btn {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	gap: 10px;
	border: 1px solid #ededef;
	background-color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.btn:hover {
	border: 1px solid #2d79f3;
}

#model-box {
	z-index: 20;
	position: absolute;
	width: calc(100vw-10px);
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #494949a6;

	display: flex;
	align-items: center;
	justify-content: center;
}
.model-button {
	position: absolute;
	top: 10px;
	right: 20px;

	width: 40px;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid #000000;

	display: flex;
	align-items: center;
	justify-content: center;
}

main > section:nth-child(2) {
	margin: 50px 0px 0px 70px;
}

.banter-loader {
	position: absolute;
	z-index: 25;
	left: 50%;
	top: 50%;
	width: 72px;
	height: 72px;
	margin-left: -36px;
	margin-top: -36px;
}

.banter-loader__box {
	float: left;
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 6px;
}

.banter-loader__box:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1e90ff;
	border-radius: 7px;
}

.banter-loader__box:nth-child(3n) {
	margin-right: 0;
	margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before,
.banter-loader__box:nth-child(4):before {
	margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
	margin-top: 52px;
}

.banter-loader__box:last-child {
	margin-bottom: 0;
}

@keyframes moveBox-1 {
	9.0909090909% {
		transform: translate(-26px, 0);
	}

	18.1818181818% {
		transform: translate(0px, 0);
	}

	27.2727272727% {
		transform: translate(0px, 0);
	}

	36.3636363636% {
		transform: translate(26px, 0);
	}

	45.4545454545% {
		transform: translate(26px, 26px);
	}

	54.5454545455% {
		transform: translate(26px, 26px);
	}

	63.6363636364% {
		transform: translate(26px, 26px);
	}

	72.7272727273% {
		transform: translate(26px, 0px);
	}

	81.8181818182% {
		transform: translate(0px, 0px);
	}

	90.9090909091% {
		transform: translate(-26px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(1) {
	animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
	9.0909090909% {
		transform: translate(0, 0);
	}

	18.1818181818% {
		transform: translate(26px, 0);
	}

	27.2727272727% {
		transform: translate(0px, 0);
	}

	36.3636363636% {
		transform: translate(26px, 0);
	}

	45.4545454545% {
		transform: translate(26px, 26px);
	}

	54.5454545455% {
		transform: translate(26px, 26px);
	}

	63.6363636364% {
		transform: translate(26px, 26px);
	}

	72.7272727273% {
		transform: translate(26px, 26px);
	}

	81.8181818182% {
		transform: translate(0px, 26px);
	}

	90.9090909091% {
		transform: translate(0px, 26px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(2) {
	animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
	9.0909090909% {
		transform: translate(-26px, 0);
	}

	18.1818181818% {
		transform: translate(-26px, 0);
	}

	27.2727272727% {
		transform: translate(0px, 0);
	}

	36.3636363636% {
		transform: translate(-26px, 0);
	}

	45.4545454545% {
		transform: translate(-26px, 0);
	}

	54.5454545455% {
		transform: translate(-26px, 0);
	}

	63.6363636364% {
		transform: translate(-26px, 0);
	}

	72.7272727273% {
		transform: translate(-26px, 0);
	}

	81.8181818182% {
		transform: translate(-26px, -26px);
	}

	90.9090909091% {
		transform: translate(0px, -26px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(3) {
	animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
	9.0909090909% {
		transform: translate(-26px, 0);
	}

	18.1818181818% {
		transform: translate(-26px, 0);
	}

	27.2727272727% {
		transform: translate(-26px, -26px);
	}

	36.3636363636% {
		transform: translate(0px, -26px);
	}

	45.4545454545% {
		transform: translate(0px, 0px);
	}

	54.5454545455% {
		transform: translate(0px, -26px);
	}

	63.6363636364% {
		transform: translate(0px, -26px);
	}

	72.7272727273% {
		transform: translate(0px, -26px);
	}

	81.8181818182% {
		transform: translate(-26px, -26px);
	}

	90.9090909091% {
		transform: translate(-26px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(4) {
	animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
	9.0909090909% {
		transform: translate(0, 0);
	}

	18.1818181818% {
		transform: translate(0, 0);
	}

	27.2727272727% {
		transform: translate(0, 0);
	}

	36.3636363636% {
		transform: translate(26px, 0);
	}

	45.4545454545% {
		transform: translate(26px, 0);
	}

	54.5454545455% {
		transform: translate(26px, 0);
	}

	63.6363636364% {
		transform: translate(26px, 0);
	}

	72.7272727273% {
		transform: translate(26px, 0);
	}

	81.8181818182% {
		transform: translate(26px, -26px);
	}

	90.9090909091% {
		transform: translate(0px, -26px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(5) {
	animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
	9.0909090909% {
		transform: translate(0, 0);
	}

	18.1818181818% {
		transform: translate(-26px, 0);
	}

	27.2727272727% {
		transform: translate(-26px, 0);
	}

	36.3636363636% {
		transform: translate(0px, 0);
	}

	45.4545454545% {
		transform: translate(0px, 0);
	}

	54.5454545455% {
		transform: translate(0px, 0);
	}

	63.6363636364% {
		transform: translate(0px, 0);
	}

	72.7272727273% {
		transform: translate(0px, 26px);
	}

	81.8181818182% {
		transform: translate(-26px, 26px);
	}

	90.9090909091% {
		transform: translate(-26px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(6) {
	animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
	9.0909090909% {
		transform: translate(26px, 0);
	}

	18.1818181818% {
		transform: translate(26px, 0);
	}

	27.2727272727% {
		transform: translate(26px, 0);
	}

	36.3636363636% {
		transform: translate(0px, 0);
	}

	45.4545454545% {
		transform: translate(0px, -26px);
	}

	54.5454545455% {
		transform: translate(26px, -26px);
	}

	63.6363636364% {
		transform: translate(0px, -26px);
	}

	72.7272727273% {
		transform: translate(0px, -26px);
	}

	81.8181818182% {
		transform: translate(0px, 0px);
	}

	90.9090909091% {
		transform: translate(26px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(7) {
	animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
	9.0909090909% {
		transform: translate(0, 0);
	}

	18.1818181818% {
		transform: translate(-26px, 0);
	}

	27.2727272727% {
		transform: translate(-26px, -26px);
	}

	36.3636363636% {
		transform: translate(0px, -26px);
	}

	45.4545454545% {
		transform: translate(0px, -26px);
	}

	54.5454545455% {
		transform: translate(0px, -26px);
	}

	63.6363636364% {
		transform: translate(0px, -26px);
	}

	72.7272727273% {
		transform: translate(0px, -26px);
	}

	81.8181818182% {
		transform: translate(26px, -26px);
	}

	90.9090909091% {
		transform: translate(26px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.banter-loader__box:nth-child(8) {
	animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
	9.0909090909% {
		transform: translate(-26px, 0);
	}

	18.1818181818% {
		transform: translate(-26px, 0);
	}

	27.2727272727% {
		transform: translate(0px, 0);
	}

	36.3636363636% {
		transform: translate(-26px, 0);
	}

	45.4545454545% {
		transform: translate(0px, 0);
	}

	54.5454545455% {
		transform: translate(0px, 0);
	}

	63.6363636364% {
		transform: translate(-26px, 0);
	}

	72.7272727273% {
		transform: translate(-26px, 0);
	}

	81.8181818182% {
		transform: translate(-52px, 0);
	}

	90.9090909091% {
		transform: translate(-26px, 0);
	}

	100% {
		transform: translate(0px, 0);
	}
}

.banter-loader__box:nth-child(9) {
	animation: moveBox-9 4s infinite;
}
